.flex-container{
    display: flex;
    background-color:#004FC1;
	margin:0%;
	width:auto;
	height:100vh;
	justify-content: center;
	align-items: start;

}

#divcentroUser, #divcentroAviso{
	width:auto;
	height: auto;
	background-color: #ffffff;
	padding:2em;
	margin-top:5em;
	border-radius: 5px;
	box-shadow: 2px 2px #DCDCDC;
	
	
	
}

h4{
	text-align:center;
	color: #4CAF50;
}


.modal{
	
	margin-top: 5em;
	
}

.table{
	
	width: 100px;
}


