<!DOCTYPE html>
<html lang="en">
<head>

    <link href="{{ url_for('static', path='css/user.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>Usuarios - Portal</title>
</head>
<body style="background-color:#004FC1;" >
<nav class="navbar navbar-expand-sm bg-white navbar-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Raimax</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav navbar-dark justify-content-end">

            <li class="nav-item">
              <a class="nav-link" href="#">Olá, Suporte</a>
            </li>

           <li class="nav-item">
              <a class="nav-link" href="listaviso">Lista-Avisos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="aviso">Avisos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="usuarios">Usuarios</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/">>>> Sair <<</a>
            </li>

      </ul>
    </div>
  </div>
</nav>

<div class="flex-container">

    <div id="divcentro">
        <h4>Usuários Cadastrados</h4>


        <table class="table">

            <p><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModalNovoUsuario"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg></button></p>
                        <p><input type="text" class="form-control" ></p>
            <thead>
              <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Apelido</th>
                <th>Senha</th>
                <th>Tipo</th>
                  <th>Ações</th>

              </tr>
            </thead>
            <tbody>
              {% for usr in login %}
                  <tr>
                    <td>{{usr.idsuario}}</td>
                    <td>{{usr.usuario}}</td>
                    <td>{{usr.apelido}}</td>
                    <td>{{usr.senha}}</td>
                    <td>{{usr.tipo}}</td>
                    <td> <a class="btn btn-secondary btn-sm modal-trigger" data-bs-toggle="modal" data-bs-target="#myModal{{usr.idsuario}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
          <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
        </svg></a>
                    <button type="submit" class="btn btn" data-bs-toggle="modal" data-bs-target="#myModalDELETAR{{usr.idsuario}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg></button></td>

                  </tr>

                     <!-- EDITAR -->

                    <!-- The Modal -->
                    <div class="modal" id="myModal{{usr.idsuario}}">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Descrição </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>

                          <!-- Modal body -->
                          <div class="modal-body">
                                            <form action="editar" method="post">
                                                <div class="mb-1 mt-1">
                                                    <label class="form-label">ID:</label>
                                                    <input type="text" class="form-control "  name="id" value="{{usr.idsuario}}" required>
                                                  </div>

                                                  <div class="mb-3 mt-3">
                                                    <label class="form-label">Colaborador:</label>
                                                    <input type="text" class="form-control"  name="username" value="{{usr.usuario}}" required>
                                                  </div>
                                                  <div class="mb-3">
                                                    <label for="pwd" class="form-label">Apelido:</label>
                                                    <input type="text" class="form-control"   name="nickname" value="{{usr.apelido}}" required >
                                                  </div>
                                                <div class="mb-3">
                                                    <label for="pwd" class="form-label">Password:</label>
                                                    <input type="text" class="form-control"   name="password" value="{{usr.senha}}" required>
                                                  </div>

                                                  <div class="mb-3">
                                                    <label for="pwd" class="form-label">Tipo:</label>
                                                    <input type="text" class="form-control"   name="tipo" value="{{usr.tipo}}" required>
                                                  </div>

                                                  <button type="submit" class="btn btn-warning">Editar</button>

                                                </form>

                                           </div>
                              </div>
                          </div>
               </div>

       <!-- Modal DELETAR-->

     <!-- The Modal -->
            <div class="modal" id="myModalDELETAR{{usr.idsuario}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">DELETAR </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                                    <form action="deletar" method="post">
                                        <div class="mb-1 mt-1">
                                            <label class="form-label">ID:</label>
                                            <input type="text" class="form-control "  name="iduser" value="{{usr.idsuario}}">
                                          </div>

                                          <div class="mb-3 mt-3">
                                            <label class="form-label">Colaborador:</label>
                                            <input type="text" class="form-control"  name="username" value="{{usr.usuario}}">
                                          </div>


                                        <button type="button" class="btn btn-warning">Não</button>
                                        <button type="submit" class="btn btn">SIM</button>
                                        </form>

                                   </div>
                      </div>
                  </div>
               </div>

     {%endfor%}

    </tbody>


  </table>

 </div>



<!-- NOVO USUSARIO -->
     <div class="modal" id="myModalNovoUsuario">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Cadastrar Novo Usuario</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

      <!-- Modal body -->
      <div class="modal-body">
            <form action="inserir" method="post">
                  <div class="mb-3 mt-3">
                    <label class="form-label">Colaborador:</label>
                    <input type="text" class="form-control" id="colab" name="username" required>
                  </div>
                  <div class="mb-3">
                    <label for="pwd" class="form-label">Apelido:</label>
                    <input type="text" class="form-control"   name="nickname" required>
                  </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">SenhaS:</label>
                    <input type="text" class="form-control"   name="password" required>
                  </div>

                  <div class="mb-3">
                    <label for="pwd" class="form-label">Tipo:</label>
                    <input type="text" class="form-control"   name="tipo" required>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>


          </div>
       </div>
    </div>
</div>

</body>
</html>